@model Model.Product.ProductCosif

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Resource.Resources.LBL_PRODUCT_COSIF</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodProductCosif)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodProductCosif)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifieldDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifieldDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductCosifId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
